API_ID=123456
API_HASH=your_api_hash
BOT_TOKEN=123456:your_bot_token

DB_URL=mongodb+srv://novus:<db_password>@nvs.i204ejd.mongodb.net/?appName=nvs
DB_NAME=menfess

CHANNEL_1=-1001111111111
CHANNEL_2=-1002222222222
CHANNEL_LOG=-1003333333333
CHANNEL_DATABASE=-1004444444444
ID_ADMIN=123456789

BATAS_KIRIM=5
BIAYA_KIRIM=25
HASTAG="#pfrtddtzt #pfttzz #mas #mba #story #spill #tanya #pap"

RESET_TIMEZONE=Asia/Jakarta
RESET_HOUR=1
RESET_MINUTE=0

START_MSG=❏ Hallo {mention}\n\nJawafess Auto Post aktif.
GAGAL_KIRIM=pesan anda gagal terkirim. silahkan klik button help jika anda butuh bantuan.
PESAN_TOPUP=Silakan isi pesan topup sesuai kebutuhan.
